<% layout('/layouts/boilerplate.ejs') -%>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>Edit listing:</h3>
        <form method="post" novalidate class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter valid title
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input name="listing[description]" value="<%= listing.description %>" type="text" class="form-control">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter valid description
                </div>
            </div>
            <div class="mb-3">
                Original Listing Image<br>
                <img src="<%=originalImageUrl%>" >
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input name="listing[image]" type="file" class="form-control">
                <div class="valid-feedback">
                    Correct!
                </div>
                <div class="invalid-feedback">
                    Please enter valid link
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                    <div class="valid-feedback">
                        Correct!
                    </div>
                    <div class="invalid-feedback">
                        Please enter valid price
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Correct!
                    </div>
                    <div class="invalid-feedback">
                        Please enter valid country name
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control">
                <div class="valid-feedback">
                    Correct!
                </div>
                <div class="invalid-feedback">
                    Please enter valid location
                </div>
            </div>
            <br>
            <button class="btn btn-dark">Edit Listing</button>
        </form>
    </div>
</div>