<% layout('/layouts/boilerplate.ejs') -%>
<script>
    const maptoken = "<%=process.env.MAP_TOKEN%>";
    const listing= <%- JSON.stringify(listing) %>;
</script>
<div class="row">
    <div class="col-8 offset-3 mt-3">
        <h3><%= listing.title %></h3><br>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img class="card-img-top show-img" src="<%=listing.image.url%>" alt="Listing Image"/>
        <div class="card-body">
            <p class="card-text">
                <i>owned by <%= listing.owner.username %></i><br><br>
                <b><%=listing.title%></b><br><br>
                <%=listing.description%><br><br>
                &#x20B9; <%=listing.price.toLocaleString("en-IN") %><br><br>
                <%=listing.location%> <br><br>
                <%=listing.country%><br>
            </p>
        </div>
            <% if (currUser && currUser._id.equals(listing.owner._id)){ %>
            <div class="btns">
                <a href="/listings/<%= listing._id%>/edit %>" class="btn btn-dark col-2 offset-3"> Edit </a>
                <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark offset-5"> Delete </button>
                </form>
            </div>
            <% } %>
           
        <br>
        <hr>
        <% if(currUser){  %>
        <div class="col-8 offset-2 mb-3 mt-3">
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing.id %>/reviews" method="post" class="needs-validation" novalidate>
                <div>
                    <label for ="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" required>
                </div>
                  
                <br> 
                <div>
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="60" rows="5" class="form-control" required></textarea>
                    <div class="valid-feedback">
                        Thanks for comment
                    </div>
                    <div class="invalid-feedback">
                        Please add comment
                    </div>
                </div> 
                <br>
                <button class="btn btn-dark">Submit</button>
            </form>
            <br>
        </div>
        <% } %>
        <hr>
        <% if(listing.reviews.length>0){ %>
        <h4>All reviews</h4>
        <hr>
        <div class="row">
            <% for(review of listing.reviews){%>
                <div class="card col-5 ms-3 mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title"> @<%= review.author.username %></h5>
                        <p class="card-text"> <%= review.rating%> stars </p>
                        <p class="card-text"> <%= review.comment%> </p>
                    </div>
                    <br>
                    <form method="post" class="mb-3" action="/listings/<%=listing.id%>/reviews/<%=review.id%>?_method=DELETE" >
                        <button class="btn btn-outline-dark">Delete</button>
                    </form>
                </div>
            <% } %>     
        </div>
        <% } %>
    </div>
    <div class="col-8 offset-2 mb-2">
        <h3>Where you’ll be</h3>
        <div id="map"></div>
    </div>
</div>

<script src="/js/map.js"></script>

